<app-header></app-header>
<div class="newcontainer">
    <div class="row" style="margin-top: 70px;width: 400px; height: 450px;" >
        <div class="card p-4">
            <div class="text-center reg-user">Register User</div>
            <form action="" [formGroup]="registerTaskForm" style="overflow-y: scroll;">
                <div class="col-md-12 mt-2">
                    <label for="" class="text-start">Name</label>
                    <input type="text" class="form-control" placeholder="enter your Name" formControlName="name"
                        maxlength="120">
                    <small class="text-danger"
                        *ngIf="registerTaskForm.get('name')?.hasError('required') && registerTaskForm.get('name')?.touched ">*user
                        name is required. </small>
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="text-start">Email</label>
                    <input type="text" class="form-control" placeholder="enter your email id" formControlName="email"
                        maxlength="120">
                    <small class="text-danger"
                        *ngIf="registerTaskForm.get('email')?.hasError('required') && registerTaskForm.get('email')?.touched ">*email
                        id is required. </small>
                        <small class=" text-danger" *ngIf="registerTaskForm.get('email')?.hasError('pattern') && registerTaskForm.get('email')?.dirty"> *Please
                            enter
                            valid email address.</small>
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="text-start">Gender</label>
                    <select name="" id="" formControlName="gender" class="form-control">
                        <option value="" selected>Select your Gender</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                    <small class="text-danger"
                        *ngIf="registerTaskForm.get('gender')?.hasError('required') && registerTaskForm.get('gender')?.touched ">*gender
                        is required. </small>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <label for="" class="text-start">Status</label>
                        <select name="" id="" formControlName="status" class="form-control">
                            <option value="" selected>Select Status</option>
                            <option value="active">active</option>
                            <option value="inactive">inactive</option>
                        </select>
                        <!-- <input type="text" class="form-control" placeholder="enter your Status" formControlName="status" maxlength="120"> -->
                        <small class="text-danger"
                            *ngIf="registerTaskForm.get('status')?.hasError('required') && registerTaskForm.get('status')?.touched ">*status
                            is required. </small>
                    </div>
                </div>
            <div class="modal-footer justify-content-start mt-4">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/user-list">Cancel</button>
              <button type="button" class="btn btn-primary" style="margin-left: 20px;" (click)="registerTask()"
              [disabled]="!registerTaskForm.valid">Register</button>
            </div>
        </form>
        </div>
    </div>
</div>
<app-footer></app-footer>


