.container{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    background-color: aquamarine;
}
.containernew{
    text-align: center;
    width: 300px;
    margin-left: 42%;
    height: 300px;
    border: 2px solid rgb(57, 15, 15);
}
li{
    list-style: none;
}
.enter{
    margin-left: 42%;
    margin-top: 6px;
    height: 40px;
}