<app-header></app-header>
<div class="col-lg-12 text-right mt-2">
    <button class="btn btn-primary btn-theme" routerLink="/add-product" >Work Sheet List</button>
</div>
<div class="col-lg-12 mt-3">
    <div class="table-responsive-md sortable">
        <table class="table table-bordered" style="    border: 1px solid #dee2e6;">
            <thead>
              <tr>

                <th scope="col">company_id</th>
                <th scope="col">user_id</th>
                <th scope="col">role_id</th>
                <th scope="col">project_id</th>
                <th scope="col">service_id</th>
                <th scope="col">branch_id</th>
                <th scope="col">work_date</th>
                <th scope="col">totol_time</th>
                <th scope="col">work_hour</th>
                <th scope="col">break_time</th>
                <th scope="col">comments</th>

              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of worksheetList;let i = index"> -->
                <tr>
                <th scope="row">1</th>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>16/01/2023</td>
                <td>8</td>
                <td>9</td>
                <td>30</td>
                <td>Hii</td>
              </tr>
              
            </tbody>
          </table>
      </div>

</div>
<app-footer></app-footer>